// Fonts
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Colors
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);

// Media
$mobile-media: "max-width: 375px";
$tablet-media: "max-width: 768px";
